* 
{
    box-sizing: border-box;
}

body
{
    background-color: rgb(141, 255, 141);
}
  
.row
{
    text-align: center;
}

.timer
{
    height: 50px;
}

.column 
{
    float: left;
    padding: 5px;
    height: 500px; 
}

.right, .left
{
    width: 20%;
}
  
.middle 
{
    width: 60%;
    background-color: rgb(97, 195, 255);
}

.cell
{
    background-color: rgb(250, 230, 9);
}

table
{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
}