{% extends 'base.html' %}

{% block content %}

<h1>Welcome, Owner!</h1>
<div>
    <h3><u>Stylists (click stylist/patron name to view their profile):</u></h3>        
    {% if stylists %}
        <ul>
        {% for stylist in stylists %}
            <form action="{{ url_for('stylist_page', stylist=stylist.name) }}" method="get">
                <input style="background-color:aquamarine" type="submit" value="{{stylist.name}}"/>
            </form>
            <u>Appointments:</u>
            {% if stylist.appointments%}
                {% for appointment in stylist.appointments %}
                    <li>
                        <form action="{{ url_for('patron_page', patron=appointment.patron.name) }}" method="get">
                            <input style="background-color:burlywood" type="submit" value="{{appointment.patron.name}}"/>
                            --- {{ appointment.day }}, {{ appointment.time }}
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li>This stylist has no appointments scheduled.</li>
            {% endif %}
            <br>
        {% endfor %}
        </ul>
    {% endif %}
</div>
<br>
<br>
<br>
<h3><u>Options:</u></h3>
<div>
    <form action="{{ url_for('stylist_creation_page') }}" method="get">
        <input type="submit" value="Create New Stylist Login"/>
    </form>
</div>
<br>
<div>
    <form action="{{ url_for('login_page') }}" method="get">
        <input type="submit" value="Log Out"/>
    </form>
</div>

{% endblock %}