{% extends 'base.html' %}

{% block content %}

<style>
        table {
          border-collapse: collapse;
          width: 20%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 5px;
        }
        
</style>

<h1>Welcome, Owner!</h1>
<div>
    <h3><u>Stylists (click stylist/patron name to view their profile):</u></h3>        
    {% if stylists %}
        {% for stylist in stylists %}
        <table>
            <form action="{{ url_for('stylist_page', stylist=stylist.name, owner='yes') }}" method="get">
                <input style="background-color:aquamarine" type="submit" value="{{stylist.name}}"/>
                Appointments: <br><br>
            </form>
            {% if stylist.appointments%}
            <th>Patron Name</th>
            <th>Date & Time</th>
                {% for appointment in stylist.appointments %}
                    <tr>
                        <td>
                            <form action="{{ url_for('patron_page', patron=appointment.patron.name) }}" method="get">
                                <input style="background-color:burlywood" type="submit" value="{{appointment.patron.name}}"/>
                            </form>
                        </td>
                        <td>
                            {{ appointment.day }}, {{ appointment.time }}
                        </td>
                    <tr>
                {% endfor %}
            {% else %}
                <tr><td>This stylist has no appointments scheduled.</td></tr>
            {% endif %}
        </table>
        <br>
        {% endfor %}
    {% else %}
        <table><tr><td>There are no stylists in the system!</td></tr></table>
    {% endif %}
</div>
<br>
            <br>
<h3><u>List Of All Patrons In System (click patron name to view their profile):</u></h3>
<table>
    {% if patrons %}   
        {% for patron in patrons %}
            <tr><td>
                <form action="{{ url_for('patron_page', patron=patron.name) }}" method="get">
                        <input style="background-color:burlywood" type="submit" value="{{patron.name}}"/>
                </form>
            </td></tr>
        {% endfor %}
    {% else %}
    <tr><td>There are no patrons in the system!</td></tr>
    {% endif %}
</table>     


<h3><u>Options:</u></h3>
<div>
    <form action="{{ url_for('stylist_creation_page') }}" method="get">
        <input type="submit" value="Create New Stylist Login"/>
    </form>
</div>
<br>
<div>
    <form action="{{ url_for('login_page') }}" method="get">
        <input type="submit" value="Log Out"/>
    </form>
</div>

{% endblock %}