{% extends 'base.html' %}

{% block content %}

<h1>Welcome, {{patron.name}}!</h1>
<style>
        table {
          border-collapse: collapse;
          width: 20%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 5px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
</style>

<div>
    <u>Available Stylists (click stylist name to view their profile):</u>  
    {% if stylists %}
        <ul>
        {% for stylist in stylists %}
            <li>
            <form action="{{ url_for('stylist_logged_in_page', patron=patron.name, stylist=stylist.name) }}" method="get">
                <input style="background-color:aquamarine" type="submit" value="{{stylist.name}}"/>
            </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No stylists work at the salon!</p>
    {% endif %}
</div>
<br>
<br>
<u>Your Scheduled Appointments:</u>
<br>
<br>
<table>
{% if patron.appointments%}
    <th>Stylist Name</th>
    <th>Date & Time</th>
    {% for appointment in patron.appointments %}
        <tr>
            <td>{{ appointment.stylist.name }}</td>
            <td>{{ appointment.day }}, {{ appointment.time }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="2">You have no appointments scheduled.</td>
    </tr>
{% endif %}
</table>    
 
    
<br>
<br>
<form action="{{ url_for('login_page') }}" method="get">
    <input type="submit" value="Log Out"/>
</form>

{% endblock %}