{% extends 'base.html' %}

{% block content %}

<h1>Patron: {{patron.name}}</h1>
<style>
        table {
          border-collapse: collapse;
          width: 20%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 5px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
</style>

    <u>Appointments:</u>
    <br>
    <br>
    <table>
    {% if patron.appointments%}
        <th>Stylist Name</th>
        <th>Date & Time</th>
        {% for appointment in patron.appointments %}
            <tr>
                <td>{{ appointment.stylist.name }}</td>
                <td>{{ appointment.day }}, {{ appointment.time }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">This patron has no appointments scheduled.</td>
        </tr>
    {% endif %}
    </table>    
 
    
<br>
<br>
<div>
    <form action="{{ url_for('owner_page') }}" method="get">
        <input type="submit" value="Back"/>
    </form>
</div>
<br>
<form action="{{ url_for('login_page') }}" method="get">
    <input type="submit" value="Log Out"/>
</form>

{% endblock %}