{% extends 'base.html' %}

{% block content %}

    <h1>Stylist: {{stylist.name}}</h1>
    <style>
            table {
            border-collapse: collapse;
            width: 75%;
            }
            
            td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 5px;
            }
            
            tr:nth-child(even) {
            background-color: #dddddd;
            }
    </style>

    <u>Appointments (X = No Appointment. Click an X to schedule an appointment!):</u>
    <br>
    <br>   
    <table>
        <tr>
            <th></th>
            <th>10am</th>
            <th>11am</th>
            <th>12pm</th>
            <th>1pm</th>
            <th>2pm</th>
            <th>3pm</th>
            <th>4pm</th>
            <th>5pm</th>
            <th>6pm</th>
            <th>7pm</th>
        </tr>
        {% for day in ["Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %}
            <tr>
                <th>{{day}}</th>
                {% for time in ["10am", "11am", "12pm", "1pm", "2pm", "3pm", "4pm", "5pm", "6pm", "7pm"] %}
                    {% if stylist.appointments %}
                        {% set ns = namespace(apt=true) %}
                        {% for appointment in stylist.appointments %}
                            {% if appointment.day == day and appointment.time == time %}
                                {% if appointment.patron.name == patron.name %}
                                    <td>{{ patron.name }}</td>
                                {% else %}
                                    <td>Booked</td>
                                {% endif%}
                                {% set ns.apt = false %}
                            {% endif %}
                        {% endfor %}
                        {% if ns.apt %}
                            <td>
                                <form action="{{ url_for('book_appointment_page', patron=patron.name, stylist=stylist.name, day=day, time=time) }}" method="get">
                                        <input style="background-color:burlywood" type="submit" value="X"/>
                                </form>  
                            </td>
                        {% endif %}
                    {% else %}
                        <td>
                            <form action="{{ url_for('book_appointment_page', patron=patron.name, stylist=stylist.name, day=day, time=time) }}" method="get">
                                    <input style="background-color:burlywood" type="submit" value="X"/>
                            </form>  
                        </td>
                    {% endif%}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>
    <div>
        <form action="{{ url_for('patron_logged_in_page', patron=patron.name) }}" method="get">
            <input type="submit" value="Back"/>
        </form>
    </div>
    <br>
    <form action="{{ url_for('login_page') }}" method="get">
        <input type="submit" value="Log Out"/>
    </form>

{% endblock %}