{% extends 'base.html' %}

{% block content %}

<h1>Account Creation Page:</h1>

<div>
    <form action="{{ url_for('create_account_logic') }}" method="post">
        <input type="text" name="username" value="enter username"/><br>
        <input type="date" name="birthday" value="enter birthday"/><br>
        <input type="text" name="password" value="enter password"/>
        <br>
        <br>
        <input type="submit" value="Create Account"/>
    </form>
</div>
<br>
<form action="{{ url_for('login_page') }}">
    <input type="submit" value="Go Back To Login Page"/>
</form>

{% endblock %}