{% extends 'base.html' %}


{% block title %}Game Board {{ super() }}{% endblock %}


{% block content %}
<style>
    td, th {
        text-align: center;
        padding: 5px;
    }
</style>
<h1>Welcome, {{ curr_user.username }}</h1>

<h2>Your Games</h2>
{% if games %}
<table style="border-collapse: collapse; width: 20%">
    {% for game in games %}
    <tr>
        <td>
            <a href="{{ url_for('game', game_id = game.id, curr_user = curr_user.id)}}">{{ game.game_title() }}</a>
        <td>
        <td>
            {% if game.created_by_id==curr_user.id %}
                <a href="{{ url_for('delete_logic', game_id=game.id)}}"">Delete Game</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Currently, there are no games available to play.</p>
{% endif %}
<div>   
    <h2>Your Top 10 Scores:</h2>
    <table >
        <th>Score</th>
        <th>Link</th>
        {% for g_id, score in wins %}
            <tr>
                <td>    
                    {{score}}
                </td>
                <td>
                    <a href="{{ url_for('game', game_id = g_id, curr_user = curr_user.id)}}">Link to Game</a>
                <td>
            </tr>
        {% endfor %}
        {% for i in range(10-len) %}
            <tr>
                <td>    
                   -- 
                </td>
                <td>
                    --
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>   
    <h2>Community Top 10 Scores:</h2>
    <table>
        <th>Name</th>
        <th>Score</th>
        <th>Link</th>
        {% set winr = 0 %}
        {% for g_id, score in com_wins %}
            <tr>
                <td>
                    {% for game in com_games%}
                        {%if game.id == g_id%}
                            {% for player in players%}
                                {% if player.id == game.winner_id %}
                                    {{player.username}}
                                {%endif%}
                            {% endfor %}
                        {%endif%}
                    {%endfor%}
                </td>
                <td>    
                    {{score}}
                </td>
                <td>
                    <a href="{{ url_for('game', game_id = g_id, curr_user = curr_user.id)}}">Link to Game</a>
                <td>
            </tr>
        {% endfor %}
        {% for i in range(10-com_len) %}
            <tr>
                <td>    
                    -- 
                </td>
                <td>
                    --
                </td>
                <td>
                    --
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
<br>
<br>
<div>
    <form action="{{ url_for('login_page') }}">
        <input type="submit" value="Log Out"/>
    </form>
</div>


{% endblock %}
