{% extends 'base.html' %}


{% block title %}Game Board {{ super() }}{% endblock %}


{% block content %}

<h1>Games</h1>
{% if games %}
<ul>
    {% for game in games %}
    <li><a href="{{ url_for('game', game_id = game.id)}}">{{ game.game_title() }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Currently, there are no games available to play.</p>
{% endif %}

<br>
<br>
<div>
    <h2>Create New Account Below:</h2>
    <form action="{{ url_for('account_creation_page') }}">
        <input type="submit" value="Create New Account"/>
    </form>
</div>

{% endblock %}
