{% extends 'base.html' %}


{% block title %}Game Board {{ super() }}{% endblock %}


{% block content %}

<h1>Games</h1>
{% if games %}
<table>
    {% for game in games %}
    <tr>
        <td>
            <a href="{{ url_for('game', game_id = game.id)}}">{{ game.game_title() }}</a>
        <td>
        <td>
            {% if game.created_by_id==curr_user%}
                ---  <a href="">Delete Game</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Currently, there are no games available to play.</p>
{% endif %}

<br>
<br>
<div>
    <form action="{{ url_for('login_page') }}">
        <input type="submit" value="Log Out"/>
    </form>
</div>


{% endblock %}
